{{ ansible_managed | comment }}

[Unit]
Description=Poenskelisten
After=network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
# The user/group poenskelisten is run under. the working directory (see below) should allow write and read access to this user/group
User={{ poenskelisten_user }}
Group={{ poenskelisten_user }}
# The location of the compiled binary
ExecStart={{ poenskelisten_bin_path }}
# Set reasonable connection and process limits
LimitNOFILE=1048576
LimitNPROC=64
# Isolate maubot from the rest of the system
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
# Only allow writes to the following directory and set it to the working directory
WorkingDirectory={{ poenskelisten_app_dir }}
ReadWriteDirectories={{ poenskelisten_files_dir }}

[Install]
WantedBy=multi-user.target
