{{ ansible_managed | comment }}
# Upstream where your authentik server is hosted.
upstream authentik {
    server [::1]:9443;
    # Improve performance by keeping some connections alive.
    keepalive 10;
}

# Upgrade WebSocket if requested, otherwise use keepalive
map $http_upgrade $connection_upgrade_keepalive {
    default upgrade;
    ''      '';
}

# Redirect HTTP to HTTPS
server {
    listen 80;
    listen [::]:80;
    server_name  {{ nginx_vhost.server_names | join(' ') }};

    location / {
            return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name  {{ nginx_vhost.server_names | join(' ') }};

    error_log /var/log/nginx/authentik-error.log error;

    # Specify SSL Config when needed
    ssl_certificate {{ dehydrated_certdir }}/{{ nginx_vhost.server_names | first }}/fullchain.pem;
    ssl_certificate_key {{ dehydrated_certdir }}/{{ nginx_vhost.server_names | first }}/privkey.pem;
    # HSTS (15552000 seconds == 180 days)
    add_header Strict-Transport-Security "max-age=15552000" always;

    # Proxy site
    location / {
        proxy_pass https://authentik;
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade_keepalive;
    }
}