# pgsql Options
PG_USER={{ authentik_db_user }}
PG_DB={{ authentik_db_name }}
PG_PASS={{ authentik_db_password }}

AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS={{ authentik_trusted_proxy_cidrs | join(',') }}

# authentik email options
AUTHENTIK_EMAIL__HOST={{ authentik_email_host }}
AUTHENTIK_EMAIL__PORT={{ authentik_email_port }}
{% if authentik_email_username is defined %}
AUTHENTIK_EMAIL__USERNAME={{ authentik_email_username }}
{% endif %}
{% if authentik_email_password is defined %}
AUTHENTIK_EMAIL__PASSWORD={{ authentik_email_password }}
{% endif %}
AUTHENTIK_EMAIL__USE_TLS={{ authentik_email_starttls | ansible.builtin.bool | lower }}
AUTHENTIK_EMAIL__FROM={{ authentik_email_from }}

# bootstrap values
AUTHENTIK_BOOTSTRAP_PASSWORD={{ authentik_admin_password }}
AUTHENTIK_BOOTSTRAP_EMAIL={{ authentik_admin_email }}

# authentik options
AUTHENTIK_SECRET_KEY={{ authentik_secret }}
AUTHENTIK_COOKIE_DOMAIN={{ authentik_domains | first }}

AUTHENTIK_LOG_LEVEL={{ authentik_log_level }}

AUTHENTIK_AVATARS={{ authentik_avatars | join(',') }}

# privacy
AUTHENTIK_DISABLE_STARTUP_ANALYTICS={{ (not (authentik_analytics_enabled | ansible.builtin.bool)) | lower }}
AUTHENTIK_ERROR_REPORTING__ENABLED={{ authentik_error_reporting_enabled | ansible.builtin.bool | lower }}
