{% macro render_contact(type, value) -%}
{%- if type == "email" -%}
<i class="ri-mail-line"></i> E-Mail: <a href="mailto:{{ value | hexencode }}">{{ value | hexencode }}</a>
{%- elif type == "matrix" -%}
<i class="ri-chat-1-line"></i> Matrix: <a href="https://matrix.to/#/{{ value | urlencode }}">{{ value }}</a>
{%- elif type == "mastodon" -%}
<i class="ri-mastodon-fill"></i> Mastodon: <a href="{{ value.url }}">{{ value.username }}</a>
{%- elif type == "eventphone" -%}
<i class="ri-phone-fill"></i> {{ value.event }}: {{ value.number }}</a>
{%- else -%}
{{ type }}: {{ value }}
{%- endif -%}
{%- endmacro %}
{% macro contact_list() %}
<ul>
{% for entry in item.contact %}
  <li>{{- render_contact(entry.type, entry.value) -}}</li>
{% endfor %}
</ul>
{% endmacro %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.min.css" type="text/css" rel="stylesheet">
</head>

</body>

<h1>Hi and welcome!</h1>
<p>
{% if item.name is string %}
I am {{ item.name }}. If you are reading this page, you have probably found something that I lost and which I care about.
I'd really like to get it back. I'd be delighted if you could contact me.
{% elif item.name is sequence %}
We are {% for name in item.name %}{% if loop.last %} and {% elif loop.first %}{% else %}, {% endif %}{{ name }}{% endfor %}. If you are reading this page, you have probably found something that we lost and which we care about.
We'd really like to get it back. We'd be delighted if you could contact us.
{% endif %}
</p>

{{ contact_list() }}

Thank you very much!

<h1>Hallo!</h1>
<p>
{% if item.name is string %}
Meine Name ist {{ item.name }}. Wenn Sie diese Webseite lesen, haben Sie wahrscheinlich etwas gefunden, das ich verloren habe. Ich würde mich
freuen, wenn Sie sich mit mir in Verbindung setzen würden.
{% elif item.name is sequence %}
Unsere Namen sind {% for name in item.name %}{% if loop.last %} und {% elif loop.first %}{% else %}, {% endif %}{{ name }}{% endfor %}. Wenn Sie diese Webseite lesen, haben Sie wahrscheinlich etwas gefunden, das wir verloren haben.
Wir würden uns freuen, wenn Sie sich mit uns in Verbindung setzen würden.
{% endif %}
</p>

{{ contact_list() }}

Vielen Dank!

<h1>こんにちは</h1>
<p>
{% if item.name is string %}
私の名前は {{ item.name }}。
あなたは、おそらく私が失われたことを私は気に何かを発見した。
私は実際にそれを取り戻すのにしたいと思います。
あなたは私に連絡してできれば私は喜んでね。
{% elif item.name is sequence %}
私たちは {% for name in item.name %}{% if loop.last %} そして {% elif loop.first %}{% else %}、{% endif %}{{ name }}{% endfor %}。
このページを読んでいるということは、私たちが失くした大切なものを見つけたということでしょう。
私たちはそれを取り戻したいと思っています。ご連絡をいただければ幸いです。
{% endif %}
</p>

{{ contact_list() }}

どうもありがとうございました！

</body>
</html>
