{{ ansible_managed | comment }}
{% set domains = lost_page_config | json_query('[].domains') | flatten %}
server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name  {{ domains | join(' ') }};

{% for domain in domains %}
    if ($host = {{ domain }}) {
        return 301 https://$host$request_uri;
    }
{% endfor %}
    return 404;
}

{% for entry in lost_page_config %}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ entry.domains | join(' ') }};
    root /srv/lost/{{ entry.domains | first }};
    index index.html;

    ssl_certificate /var/lib/dehydrated/certs/{{ entry.domains | first }}/fullchain.pem;
    ssl_certificate_key /var/lib/dehydrated/certs/{{ entry.domains | first }}/privkey.pem;
    # HSTS (15552000 seconds == 180 days)
    add_header Strict-Transport-Security "max-age=15552000" always;
}

{% endfor %}