{{ ansible_managed | comment }}

ARGS="-enableTCP6 \
--storageDataPath={{ victoriametrics_data_dir }} \
--selfScrapeInterval={{ victoriametrics_self_scrape_interval }} \
--retentionPeriod={{ victoriametrics_retention_period }} \
--maxConcurrentInserts=32 \
--search.maxUniqueTimeseries={{ victoriametrics_search_max_unique_timeseries }} \
{% for flag, flag_value in victoriametrics_service_args.items() %} --{{ flag }}={{ flag_value }}{% endfor %}"
