{{ ansible_managed | comment }}

[Unit]
Description=Description=VictoriaMetrics service
After=network.target

[Service]
Type=simple
LimitNOFILE={{ victoriametrics_max_open_files }}
User={{ victoriametrics_user }}
Group={{ victoriametrics_group }}
EnvironmentFile={{ victoriametrics_environment_file }}
ExecStart=/usr/local/bin/victoria-metrics-prod $ARGS

SyslogIdentifier=victoriametrics
Restart=always

PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes

ProtectSystem=full
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
