{
  "$schema": "https://raw.githubusercontent.com/Ylianst/MeshCentral/master/meshcentral-config-schema.json",
  "settings": {
    "cert": "{{ meshcentral_domain }}",
    "port": 8443,
    "portBind": "::1",
    "aliasPort": 443,
    "redirPort": 0,
    "agentPong": 300,
    "tlsOffload": "::1",
    "MpsPort": 44330,
    "MpsAliasPort": 4433,
    "MpsTlsOffload": true
  },
  "domains": {
    "": {
      "title": "{{ meshcentral_domain }}",
      "certUrl": "https://[::1]:443"
    }
  }
}