stream {
    ssl_certificate {{ meshcentral_home}}/meshcentral-data/mpsserver-cert-public.crt;
    ssl_certificate_key {{ meshcentral_home}}/meshcentral-data/mpsserver-cert-private.key;
    ssl_session_cache shared:MPSSSL:10m;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    server {
        listen 4433 ssl;
        proxy_pass [::1]:44330;
        proxy_next_upstream on;
    }
}
