[Unit]
Description=MeshCentral Server

[Service]
Type=simple
LimitNOFILE=1000000
ExecStart=/usr/bin/node {{ meshcentral_home }}/node_modules/meshcentral
WorkingDirectory={{ meshcentral_home }}
Environment=NODE_ENV=production
User={{ meshcentral_user }}
Group={{ meshcentral_user }}
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10

[Install]
WantedBy=multi-user.target
