{% macro render_value(value) -%}
{% if value is boolean -%}
{{ 'true' if value else 'false' }}
{%- elif value is number -%}
{{ value }}
{%- else -%}
"{{ value }}"
{%- endif %}
{%- endmacro %}
{{ ansible_managed | comment }}
## Vaultwarden Configuration File

{% for key, value in vaultwarden_config.items() %}
{{ key }}={{ render_value(value) }}
{% endfor %}
