{{ ansible_managed | comment }}

[Unit]
Description = VaultWarden
After = network.target postgresql.service
Requires = postgresql.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
# The user/group vaultwarden is run under. the working directory (see below) should allow write and read access to this user/group
User = vaultwarden
Group = vaultwarden
# The location of the .env file for configuration
EnvironmentFile = {{ vaultwarden_app_dir }}/.env
# The location of the compiled binary
ExecStart = {{ vaultwarden_bin_path }}
# Set reasonable connection and process limits
LimitNOFILE = 1048576
LimitNPROC = 64
# Isolate vaultwarden from the rest of the system
PrivateTmp = true
PrivateDevices = true
ProtectHome = true
ProtectSystem = strict
# Only allow writes to the following directory and set it to the working directory (user and password data are stored here)
WorkingDirectory = {{ vaultwarden_app_dir }}
ReadWriteDirectories = {{ vaultwarden_app_dir }}

[Install]
WantedBy = multi-user.target
