{{ ansible_managed | comment }}
## Database ##

database:
  name: "psycopg2"
  args:
    user: "{{ matrix_synapse_pg_user }}"
    password: "{{ matrix_synapse_pg_password }}"
    database: "{{ matrix_synapse_pg_db }}"
    host: "{{ matrix_synapse_pg_host }}"
    cp_min: 3
    cp_max: 10
