{{ ansible_managed | comment }}
## Media Store ##
enable_authenticated_media: true

# Directory where uploaded images and attachments are stored.
media_store_path: "{{ matrix_synapse_media_store_path }}"

# The largest allowed upload size in bytes
max_upload_size: {{ matrix_synapse_max_upload_size }}
