{{ ansible_managed | comment }}
## Metrics ###

# Enable collection and rendering of performance metrics
#
enable_metrics: {{ matrix_synapse_metrics_enabled | bool }}

# Flags to enable Prometheus metrics which are not suitable to be
# enabled by default, either for performance reasons or limited use.
#
metrics_flags:
    # Publish synapse_federation_known_servers, a g auge of the number of
    # servers this homeserver knows about, including itself. May cause
    # performance problems on large homeservers.
    #
    known_servers: {{ matrix_synapse_known_servers_metric | bool }}
