{{ ansible_managed | comment }}
## Push ##

push:
  enabled: {{ matrix_synapse_push_enabled | bool }}
  include_content: {{ matrix_synapse_push_include_content | bool }}
  group_unread_count_by_room: {{ matrix_synapse_push_count_by_room | bool }}