{{ ansible_managed | comment }}
## Registration ##

# Enable registration for new users.
enable_registration: {{ matrix_synapse_registration_enabled | bool }}

{% if matrix_synapse_registration_secret is defined %}
# If set, allows registration of standard or admin accounts by anyone who
# has the shared secret, even if registration is otherwise disabled.
registration_shared_secret: "{{ matrix_synapse_registration_secret }}"
{% endif %}
