{{ ansible_managed | comment }}
## Report Stats ##

# Whether to report anonymized homeserver usage statistics.
report_stats: {{ matrix_synapse_report_stats }}

# The endpoint to report the anonymized homeserver usage statistics to.
# Defaults to https://matrix.org/report-usage-stats/push
#report_stats_endpoint: https://example.com/report-usage-stats/push