{{ ansible_managed | comment }}
## Signing Keys ##

# Path to the signing key to sign messages with
signing_key_path: "/etc/matrix-synapse/homeserver.signing.key"

# The keys that the server used to sign messages with but won't use
# to sign new messages.
old_signing_keys:

# The trusted servers to download signing keys from.
trusted_key_servers: {{ matrix_synapse_trusted_key_servers | ansible.builtin.to_json() }}

suppress_key_server_warning: True
