{{ ansible_managed | comment }}

AllowAgentForwarding no
AllowTcpForwarding no
AuthenticationMethods publickey
AuthorizedKeysFile /etc/ssh/authorized_keys/%u
ChrootDirectory {{ paperless_ngx_sftp_chroot }}
ForceCommand internal-sftp -u 0007 -d /{{ paperless_ngx_sftp_consume_directory }}
HostKeyAlgorithms ssh-rsa # brother ads-1700w
KbdInteractiveAuthentication no
KexAlgorithms diffie-hellman-group14-sha1 # brother ads-1700w
PasswordAuthentication no
PermitRootLogin no
PermitTunnel no
PidFile /run/sftp-sshd.pid
Port 2222
PrintMotd no
PubkeyAcceptedAlgorithms ssh-rsa # brother ads-1700w
PubkeyAuthentication yes
Subsystem sftp internal-sftp
UsePAM yes
X11Forwarding no
