#!/usr/bin/env bash
cat {{ dehydrated_certdir }}/{{ item | first }}/fullchain.pem {{ dehydrated_certdir }}/{{ item | first }}/privkey.pem > {{ haproxy_cert_path }}/{{ item | first }}.pem

/usr/bin/systemctl reload haproxy.service