[Unit]
Description=Paperless consumer
Requires=redis.service

[Service]
User={{ paperless_ngx_user }}
Group={{ paperless_ngx_user_reg.group }}
WorkingDirectory={{ paperless_ngx_root_directory }}/src
ExecStart={{ paperless_ngx_venv_directory }}/bin/python3 manage.py document_consumer

[Install]
WantedBy=multi-user.target
