[Unit]
Description=Paperless Celery Workers
Requires=redis.service

[Service]
User={{ paperless_ngx_user }}
Group={{ paperless_ngx_user_reg.group }}
WorkingDirectory={{ paperless_ngx_root_directory }}/src
ExecStart={{ paperless_ngx_venv_directory }}/bin/celery --app paperless worker --loglevel INFO

[Install]
WantedBy=multi-user.target
