[Unit]
Description=Paperless webserver
After=network.target
Wants=network.target
Requires=redis.service
Requires=paperless-webserver.socket

[Service]
User={{ paperless_ngx_user }}
Group={{ paperless_ngx_user_reg.group }}
WorkingDirectory={{ paperless_ngx_root_directory }}/src
ExecStart={{ paperless_ngx_venv_directory }}/bin/gunicorn -c {{ paperless_ngx_home_directory }}/gunicorn.conf.py paperless.asgi:application

[Install]
WantedBy=multi-user.target
