{{ ansible_managed | comment }}
{% block https_redirect %}
{% if (nginx_vhost.https_redirect | default(True)) %}
server {
    listen 80;
    listen [::]:80;
    server_name  {{ nginx_vhost.server_names | union(nginx_vhost.server_names_redirect | default([])) | join(' ') }};
    return       301 https://$host$request_uri;
}
{% endif %}
{% endblock %}
{% block server_redirect %}
{% if nginx_vhost.server_names_redirect is defined %}
server {
    listen       {{ nginx_vhost.listen | default('443') }} ssl http2;
    listen       [::]:{{ nginx_vhost.listen | default('443') }} ssl http2;
    server_name  {{ nginx_vhost.server_names_redirect | join(' ') }};
    return       301 $scheme://$host$request_uri;
}
{% endif %}
{% endblock %}

server {
{% block server_begin %}{% endblock %}

{% block server_basic %}
{%- for port in (nginx_vhost.listen | default(['443'])) %}
    listen {{ port }} ssl http2;
    listen [::]:{{ port }} ssl http2;
{%- endfor %}

    server_name {{ nginx_vhost.server_names | join(' ') }};
{% if nginx_vhost.root is defined %}
    root {{ nginx_vhost.root }};
{%- endif %}

{% if nginx_vhost.index is defined %}
    index {{ nginx_vhost.index }};
{%- endif %}

{% if nginx_vhost.error_page is defined %}
    error_page {{ nginx_vhost.error_page }};
{% endif %}
{% if nginx_vhost.access_log is defined %}
    access_log {{ nginx_vhost.access_log }};
{% endif %}
{% if nginx_vhost.error_log is defined %}
    error_log {{ nginx_vhost.error_log }} error;
{% endif %}

{% if nginx_vhost.return is defined %}
    return {{ nginx_vhost.return }};
{% endif %}
{% endblock -%}

{%- block server_ssl %}
    ssl_certificate {{ dehydrated_certdir }}/{{ nginx_vhost.server_names | first }}/fullchain.pem;
    ssl_certificate_key {{ dehydrated_certdir }}/{{ nginx_vhost.server_names | first }}/privkey.pem;
    # HSTS (15552000 seconds == 180 days)
    add_header Strict-Transport-Security "max-age=15552000" always;
{% endblock -%}

{%- block server_end %}{% endblock %}

{% if nginx_vhost.headers is defined %}
    {{ nginx_vhost.headers | indent(4) | trim }}
{% endif %}
{% if nginx_vhost.locations is defined %}
{% for location in nginx_vhost.locations %}
    location {{ location.path }} {
        {{ location.config | indent(8) | trim }}
    }
{% endfor %}
{% endif %}

{% if nginx_vhost.extra_parameters is defined %}
    {{ nginx_vhost.extra_parameters | indent(4) | trim }}
{% endif %}
}
