[Unit]
Description=OpenBSD Secure Shell server
Documentation=man:sshd(8) man:sshd_config(5)
After=network.target auditd.service

[Service]
ExecStartPre=/usr/sbin/sshd -t -f {{ paperless_ngx_sftp_sshd_config }}
ExecStart=/usr/sbin/sshd -D -f {{ paperless_ngx_sftp_sshd_config }}
ExecReload=/usr/sbin/sshd -t -f {{ paperless_ngx_sftp_sshd_config }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=notify
RuntimeDirectory=sshd
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
Alias=sftp-sshd.service