#!/usr/bin/env bash
cp --dereference {{ dehydrated_certdir }}/{{ mosquitto_domains | first }}/fullchain.pem {{ dehydrated_certdir }}/{{ mosquitto_domains | first }}/privkey.pem {{ mosquitto_cert_path }}/
chown mosquitto:mosquitto {{ mosquitto_cert_path }}/*
chmod 640 {{ mosquitto_cert_path }}/*

/usr/bin/systemctl reload mosquitto.service
