{{ ansible_managed | comment }}

# Configuration file for Synapse.
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://matrix-org.github.io/synapse/latest/usage/configuration/config_documentation.html

pid_file: "/var/run/matrix-synapse.pid"
log_config: "{{ matrix_synapse_log_config }}"
