{{ ansible_managed | comment }}

[Unit]
Description = Maubot
After = network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
# The user/group maubot is run under. the working directory (see below) should allow write and read access to this user/group
User = {{ maubot_user }}
Group = {{ maubot_user }}
# The location of the compiled binary
ExecStart = {{ maubot_venv_directory }}/bin/python -m maubot
# Set reasonable connection and process limits
LimitNOFILE = 1048576
LimitNPROC = 64
# Isolate maubot from the rest of the system
PrivateTmp = true
PrivateDevices = true
ProtectHome = true
ProtectSystem = strict
# Only allow writes to the following directory and set it to the working directory (user and password data are stored here)
WorkingDirectory = {{ maubot_data_dir }}
ReadWriteDirectories = {{ maubot_data_dir }}

[Install]
WantedBy = multi-user.target
