{% for site in static_website_sites %}
{% set __primary_fqdn = site.primary_fqdn | default(site.domains | first) %}
{% set __name = site.name | default(__primary_fqdn.split('.') | first) %}
{% set __mode = site.mode | default(__static_website_default_mode) %}
{% set __home = '/srv/static/{}'.format(__name) %}
{% set __path = '{}/public'.format(__home) %}
- domains: {{ site.domains | to_yaml }}
  primary_fqdn: {{ __primary_fqdn }}
  name: {{ __name }}
  path: {{ __path }}
  mode: {{ __mode }}
  deploy_user:
    name: www-{{ __name }}
    group: {{ static_website_user_group }}
    home: {{ __home }}
{% endfor %}
