#!/usr/bin/env python3
import os
import shlex
import subprocess
import sys
import shutil
from pathlib import Path

ROOT = Path('{{ __path }}')


def call(command: list[str]):
    return subprocess.call(command, stdin=sys.stdin, stdout=sys.stdout, stderr=sys.stderr)


def call_and_exit(command: list[str]):
    exit(call(command))


def rsync_receive(target_path: Path):
    call_and_exit(['rsync', '--server', '-vlDtrze.iLsfxCIvu', '--delete', '.', shlex.quote(str(target_path))])


def delete_path(target_path: Path):
    shutil.rmtree(target_path, ignore_errors=True)
    for parent in target_path.parents:
        if parent == ROOT:
            break
        try:
            parent.rmdir()
        except OSError:
            break


def main():
    command = os.environ.get("SSH_ORIGINAL_COMMAND", '')
    command_parts = command.split()

    if command_parts[0] == 'rsync':
        deploy_path = Path(command_parts[-1]).expanduser()

        if ROOT not in deploy_path.parents:
            print(f'Invalid target path', file=sys.stderr)
            exit(-1)

        deploy_path.mkdir(mode=0o755, parents=True, exist_ok=True)
        rsync_receive(deploy_path)

    elif command_parts[0] == 'rm':
        deploy_path = Path(command_parts[-1]).expanduser()

        if ROOT not in deploy_path.parents:
            print(f'Invalid target path', file=sys.stderr)
            exit(-1)

        delete_path(deploy_path)

    else:
        print("Unknown command: {0}".format(command), file=sys.stderr)
        exit(-1)


if __name__ == '__main__':
    main()
