{{ ansible_managed | comment}}

server {
    listen      80;
    listen      [::]:80;
    server_name {{ item.domains | join(' ') }};
    return      301 https://$host$request_uri;
}

server {
    listen      443 ssl http2;
    listen      [::]:443 ssl http2;
    server_name {{ item.domains | join(' ') }};
    root        {{ item.path }};

    charset utf-8;

    ssl_certificate     /var/lib/dehydrated/certs/{{ item.domains | first }}/fullchain.pem;
    ssl_certificate_key /var/lib/dehydrated/certs/{{ item.domains | first }}/privkey.pem;
    # HSTS (15552000 seconds == 180 days)
    add_header Strict-Transport-Security "max-age=15552000" always;
}
