{% macro render_backend(type, service) -%}
{% if type == 'pve' %}
{% set port = 8006 %}
{% elif type == 'pbs' %}
{% set port = 8007 %}
{% endif %}
backend {{ type }}-{{ service.name }}
    mode http
    balance source
    hash-type consistent

    option httpchk
    http-check send meth GET uri /
    http-check expect status 200

{% for backend in service.backends %}
{% if backend is ansible.utils.ip_address %}
{% set ip = backend %}
{% else %}
{% set ip = lookup('community.general.dig', backend, qtype='AAAA', wantlist=true) | union(lookup('community.general.dig', backend, qtype='A', wantlist=true)) | select | ansible.utils.ipaddr | first %}
{% endif %}
    server {{ type }}-{{ service.name }}-{{ loop.index }} {{ ip | ansible.utils.ipwrap }}:{{ port }} check inter 1500ms fastinter 200ms fall 3 rise 10 ssl ca-file /etc/ssl/certs/ca-certificates.crt
{% endfor %}
{%- endmacro %}
{% macro render_acl(type, service) -%}
{% for domain in service.domains %}
    acl acl-{{ type }}-{{ service.name }} hdr(host) -i -m beg {{ domain }}
{% endfor %}
    use_backend {{ type }}-{{ service.name }} if acl-{{ type }}-{{ service.name }}
{%- endmacro %}
global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # generated 2023-04-02, Mozilla Guideline v5.6, HAProxy 2.0.3, OpenSSL 1.1.1n, modern configuration, no OCSP
    # https://ssl-config.mozilla.org/#server=haproxy&version=2.0.3&config=modern&openssl=1.1.1n&ocsp=false&guideline=5.6
    # modern configuration
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets

    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend proxmox
    mode    http
    bind    :::443 v4v6 ssl crt {{ haproxy_cert_path }} alpn h2,http/1.1
    bind    :::80 v4v6
    option  http-keep-alive

    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Real-IP %[src]
    http-request add-header X-Forwarded-Proto https

    redirect scheme https code 302 if !{ ssl_fc }

{% for service in haproxy_proxmox_config.pve | default([]) %}
{{ render_acl('pve', service) }}
{% endfor %}

{% for service in haproxy_proxmox_config.pbs | default([]) %}
{% for domain in service.domains %}
    acl acl-pbs-{{ service.name }} hdr(host) -i -m beg {{ domain }}
{% endfor %}
    use_backend pbs-{{ service.name }} if acl-pbs-{{ service.name }}
{% endfor %}
    timeout client 60s

{% for service in haproxy_proxmox_config.pve | default([]) %}
{{ render_backend('pve', service) }}
{% endfor %}
{% for service in haproxy_proxmox_config.pbs | default([]) %}
{{ render_backend('pbs', service) }}
{% endfor %}
