#!/usr/bin/env bash
{{ ansible_managed | comment }}

shopt -s nullglob

{% if dehydrated_hostingde_enabled %}
{{ dehydrated_hostingde_path }} "$@"
{% endif %}

# Simple script which allows the use of multiple hooks
# Put hooks in the order you wish them to be called here:
# (Be sure to keep in mind the working directory *this* hook will be called from when specifying other hook paths.)

for script in {{ dehydrated_hook_d }}/*; do
	$script "$@"
done

deploy_cert() {
    local DOMAIN="${1}" KEYFILE="${2}" CERTFILE="${3}" FULLCHAINFILE="${4}" CHAINFILE="${5}" TIMESTAMP="${6}"

    # This hook is called once for each certificate that has been
    # produced. Here you might, for instance, copy your new certificates
    # to service-specific locations and reload the service.
    #
    # Parameters:
    # - DOMAIN
    #   The primary domain name, i.e. the certificate common
    #   name (CN).
    # - KEYFILE
    #   The path of the file containing the private key.
    # - CERTFILE
    #   The path of the file containing the signed certificate.
    # - FULLCHAINFILE
    #   The path of the file containing the full certificate chain.
    # - CHAINFILE
    #   The path of the file containing the intermediate certificate(s).
    # - TIMESTAMP
    #   Timestamp when the specified certificate was created.

    touch "/run/dehydrated/${DOMAIN}"
}

HANDLER="$1"; shift
if [[ "${HANDLER}" =~ ^(deploy_cert)$ ]]; then
  "$HANDLER" "$@"
fi
